/*
 * SPDX-FileCopyrightText: 2022 Genome Research Ltd.
 *
 * SPDX-License-Identifier: MIT
 */

:root {
  --primary: #d00000;
  --opaque-primary: rgba(var(--primary), 0.1);
}

body {
  @include body-font;
  --rs-input-bg: var(--bs-body-bg);
  --rs-bg-overlay: var(--bs-body-bg);
  --bs-dropdown-link-hover-bg: $opaque_grey;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
}

.btn-xl {
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.bg-black {
  background-color: $black !important;
}

.rounded-pill {
  border-radius: 5rem;
}

a {
  color: $primary;
}
