/*
 * SPDX-FileCopyrightText: 2021 Genome Research Ltd.
 *
 * SPDX-License-Identifier: MIT
 */

@mixin heading-font {
  font-family: 'Catamaran';
  font-weight: 800 !important;
}

@mixin body-font {
  font-family: 'Lato';
}
