/*
 * SPDX-FileCopyrightText: 2023 Genome Research Ltd.
 *
 * SPDX-License-Identifier: MIT
 */

:root {
  --rs-tooltip-bg: var(--bs-body-bg);
  --rs-bg-overlay: var(--bs-body-bg);
  --rs-input-bg: var(--bs-body-bg);

  --rs-tooltip-text: var(--bs-body-color);

  --rs-btn-link-text: var(--primary);
  --rs-btn-primary-hover-bg: var(--primary);
  --rs-btn-primary-bg: var(--primary);
  --rs-calendar-cell-selected-hover-bg: var(--primary);
  --rs-bg-active: var(--primary);
  --rs-listbox-option-hover-text: var(--primary);
  --rs-input-focus-border: var(--primary);

  --rs-calendar-range-bg: var(--primary-hover);
  --rs-listbox-option-hover-bg: var(--grey-hover);
}