/*
 * SPDX-FileCopyrightText: 2023 Genome Research Ltd.
 *
 * SPDX-License-Identifier: MIT
 */

.tol-table {
  th {
    background-color: $primary-hover;
  }

  // hover effects
  tr th:hover,
  tbody tr:hover,
  li.dropdown-item:hover,
  li.dropdown-item:active,
  .page-link:hover {
    background-color: $grey-hover;
  }

  .page-link {
    background-color: none;
  }

  // darken various buttons
  #pageDropDown:hover,
  .tol-table-filter-button:hover,
  .tol-table-filter-button:active,
  .active.page-item .page-link:hover {
    background-color: darken($primary, 10%) !important;
    border-color: darken($primary, 10%) !important;
  }

  // table sorting arrows
  button span .caret { // hides duplicate page size dropdown arrow
    display: none;
  }

  .caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid \9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
  }

  .dropup .caret, .navbar-fixed-bottom .dropdown .caret {
    border-top: 0;
    border-bottom: 4px dashed;
    border-bottom: 4px solid \9;
    content: "";
  }

  .sorting-active-colour {
    background-color: $grey-hover;
  }

  // hide or show filter search
  .filter-search-input-show {
    display: flex;
  }

  .filter-search-input-hide {
    display: none;
  }

  // table filtering
  .filter-label {
    display: flex;
    margin: 0;
  }

  // pagination buttons
  #pageDropDown {
    color: white;
    float: right;
    margin: 6px;
    margin-right: 0;
    background-color: $primary;
    border-color: $primary;
  }

  .dropdown-toggle {
    color: white;
  }

  .btn.btn-primary,
  .react-bootstrap-table-page-btns-ul {
    float: right;
    margin: 6px;
    margin-right: 0;
  }

  .active.page-item .page-link {
    color: white;
  }

  .page-item .page-link {
    color: $primary;
  }

  // page size dropdown
  span.open.show.react-bs-table-sizePerPage-dropdown.dropdown {
    float: right;
  }

  ul.dropdown-menu.open.show {
    min-width: 0;
    position: absolute;
    top: 50px;
    right: 3px;
  }

  ul.dropdown-menu.open.show a {
    text-decoration: none;
  }

  ul.dropdown-menu.open.show a:hover {
    text-decoration: underline;
  }

  li.dropdown-item a {
    color: $primary
  }

  // filter visability
  .filter-search-input-hide {
    display: var(--filter-visability, none);
  }

  // filter button
  .tol-table-filter-button,
  .tol-table-filter-button:active {
    color: white;
    fill: white;
  }

  .tol-table-filter-button svg {
    margin-right: 8px;
  }

  // align header titles at top
  .table thead th {
    vertical-align: top;
  }

  // make table scrollable and auto-resize
  .table {
    overflow: auto;
    display: block;
    table-layout: auto;
  }

  .table-bordered td, .table-bordered th {
    width: 1% !important;
  }

  // link box (e.g. relationship)
  .link-box {
    background-color: rgba($primary, 0.1) !important;
    padding: 10px;
  }

  .link-box:hover {
    background-color: rgba($primary, 0.2) !important;
  }

  .link-box.clickable {
    cursor: pointer;
  }

  // This is here because react-table uses Bootstrap 4 classes
  .sr-only {
    @extend .visually-hidden
  }
}

// tooltip
.relationship-tooltip {
  margin: 5px;
}

.tooltip-key {
  margin-right: 5px;
  font-size: small;
}

.tooltip-value {
  font-size: small;
}

.tooltip-wrapper {
  display: inline-block;
}