/*
 * SPDX-FileCopyrightText: 2022 Genome Research Ltd.
 *
 * SPDX-License-Identifier: MIT
 */

// Required Variables
$primary: #d00000 !default;
$secondary: #00ff11 !default;

// Hover
$opaque-primary: rgba($primary, 0.1);
$opaque-grey: rgba(140, 140, 140, 0.1);
