/*
 * SPDX-FileCopyrightText: 2022 Genome Research Ltd.
 *
 * SPDX-License-Identifier: MIT
 */

// --SASS-- //
// Required Variables
$primary: #039be5 !default; //#039be5
$secondary: #01579b !default;

// Hover
$grey: #808080 !default;
$primary-opaque: rgba($primary, 0.1);
$grey-hover: rgba($grey, 0.1);

// --CSS VARS-- //
:root {
  --primary: #{$primary};
  --secondary: #{$secondary};
  --primary-opaque: #{$primary-opaque};
  --grey-hover: #{$grey-hover};
}
