# SPDX-FileCopyrightText: 2022 Genome Research Ltd.
#
# SPDX-License-Identifier: MIT

--extra-index-url=https://gitlab.internal.sanger.ac.uk/api/v4/projects/3429/packages/pypi/simple

Cython == 0.29.21
python_dateutil == 2.8.1
setuptools == 53.0.0
markupsafe==2.0.1
jwt
alembic==1.8.0
tol-sdk==0.3.4
psycopg2-binary==2.9.1
