# SPDX-FileCopyrightText: 2022 Genome Research Ltd.
#
# SPDX-License-Identifier: MIT

--extra-index-url=https://gitlab.internal.sanger.ac.uk/api/v4/projects/3429/packages/pypi/simple

python_dateutil ~= 2.8.0
setuptools ~= 69.0.0
tol-sdk[api_base2,postgresql] == 1.0.3
alembic ~= 1.13.0
